{% extends 'base.html' %}

{% block title %}Editar Usuario plAI{% endblock %}

{% block content %}
{% if success %}

<script>alert('user updated');</script>
{% endif %}
<section class="vh-100" style="background-color: #30B9DC;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card rounded-3" style="border-radius: .8rem;">
                    <img src="{{ url_for('static', filename='registro.jpg') }} " class="w-100"
                        style="border-top-left-radius: .5rem; border-top-right-radius: .5rem;" alt="Sample photo">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Editar Usuario</h3>

                        <form class="px-md-2" action="{{ url_for('update_birthdate_age')}}" method="POST">
                            <div class="row">
                                <div data-mdb-input-init class="form-outline col-md-6 mb-4">
                                    <input type="text" name="username" id="form3Example1q"
                                        class="form-control form-control-lg" readonly />
                                    <label class="form-label" for="form3Example1q">Nombre de usuario</label>
                                </div>
                                <div data-mdb-input-init class="form-outline col-md-6 mb-4">
                                    <input type="email" name="email" id="form2Example17"
                                        class="form-control form-control-lg" readonly />
                                    <label class="form-label" for="form2Example17">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-group">
                                        <input type="date" name="birthdate" class="form-control form-control-lg"
                                            id="birthdate" required>
                                        <label for="birthdate">Fecha de Nacimiento</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <select data-mdb-select-init name="gender" class="form-control form-control-lg">
                                        <option value="1">Género</option>
                                        <option value="Mujer">Mujer</option>
                                        <option value="Hombre">Hombre</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>
                            </div>

                    </div>
                    <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                        <div class="col-md-6">
                        </div>
                    </div>
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-lg mb-1"
                        style="background-color: #30B9DC; color: #0A2E43;">Guardar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/user_data')
            .then(response => response.json())
            .then(data => {
                document.getElementById('form3Example1q').value = data.username || '';
                document.getElementById('form2Example17').value = data.email || '';
                document.getElementById('form2Example27').value = data.password || '';
                document.getElementById('birthdate').value = data.birthdate || '';
                document.getElementsByName('gender')[0].value = data.gender || '';
            })
            .catch(err => console.error(err));
    });



</script>
{% endblock %}